.squareNetContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
    border: 1px solid black;
    box-sizing: border-box;
}
