* {
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-title {
    color: orange;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: black;
}

.btn-link {
    text-decoration: none;
    margin-left: 10px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title span:nth-child(4n+1) {
    color: green;
}

.form-title span:nth-child(4n+2) {
    color: orange;
}

.form-title span:nth-child(4n+3) {
    color: red;
}

.form-title span:nth-child(4n+4) {
    color: grey;
}